<?xml version="1.0" encoding="utf-8" ?>
<configuration> 
	<appSettings>
		<!--udp监听端口 默认4747-->
		<add key="UDPListenPort" value="47147" />
		<!--设备识别号-->
		<add key="GUID" value="V4DES" />
		<!--循环模式，0：列表循环，1：单个循环-->
		<add key="VideoPlayMode" value="0" />
		<!--单个循环时，单个视频播放最长时间，秒-->
		<add key="SingleVideoCycleMaxSecs" value="120" />
		<!--显示器序号-->
		<add key="ScreenNoX" value="1" />
	</appSettings>
</configuration>