<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<appSettings> 
		<add key="ServerMQUrl" value="hw.hellolinux.cn:61234"/>
		<add key="ServerWebUrl" value="hw.hellolinux.cn:8080"/>
		<!--<add key="ServerMQUrl" value="localhost:61234"/>
		<add key="ServerWebUrl" value="localhost:34172"/>-->
	</appSettings>
</configuration>