<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<appSettings> 
		<add key="ServerMQUrl" value="10.10.20.221:61234"/>
		<add key="ServerWebUrl" value="10.10.20.221:8080"/>
	</appSettings>
</configuration>